<div id="wrapper" [class.toggled]="isToggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a [routerLink]="['Post']">Siste nytt</a>
            </li>
            <li>
                <a [routerLink]="['Club']">Klubben</a>
            </li>
            <li>
                <a [routerLink]="['Team']">Lagene</a>
            </li>
            <li>
                <a [routerLink]="['TeamMember']">Spillerne</a>
            </li>
            <li>
                <a [routerLink]="['Fixture']">Kamper</a>
            </li>
            <li>
                <a [routerLink]="['Store']">Butikk</a>
            </li>
            <li>
                <a [routerLink]="['Contact']">Kontaktinfo</a>
            </li>
            <li>
                <a [routerLink]="['Sponsor']">Sponsorer</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="visible-xs">
                        <button (click)="isToggled=!isToggled" class="btn btn-default"><i class="fa fa-bars"></i></button>St. Hallvard Håndballklubb
                    </h1>
                    <div class="col-md-12 premium-header">
                        <a class="ajax-load" href="/">
                            <img class="img-responsive" src="/assets/lib/common/images/premium_header.png" alt="Header image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<!-- /#wrapper -->